/* menggunakan float */

/* .container {
    width: 600px;
    margin: 50px auto;
    border: 5px solid black;
    padding: 5px;
    box-sizing: border-box;
}

header {

    background-color: fuchsia;
    padding: 40px 0;
}

.content::after {
    content: '';
    display: block;
    clear: both
}

footer {
    background-color: gray;
    padding: 20px 0;
}

.sidebar {
    float: left;
    width: 40%;
}

.sidebar aside {
    background-color: green;
    padding: 30px 0;
}

.sidebar nav {
    background-color: blue;
    padding: 40.5px 0;
}

main {
    background-color: orange;
    padding: 80px 0;
    width: 60%;
    box-sizing: border-box;
    float: right;
} */

/* menggunakan flex box*/

/* .container {
    width: 600px;
    margin: 50px auto;
    border: 5px solid black;
    padding: 5px;
    box-sizing: border-box;
}

header {

    background-color: fuchsia;
    padding: 40px 0;
}

.content::after {
    content: '';
    display: block;
    clear: both
}

footer {
    background-color: gray;
    padding: 20px 0;
}

.content {
    display: flex;
}

.sidebar {
    flex: 1
}

.sidebar aside {
    background-color: green;
    padding: 60px 0;
}

.sidebar nav {
    background-color: blue;
    padding: 40.5px 0;
}

main {
    background-color: orange;
    flex: 1.5;

} */





/* CSS GRID */

/* .container {
    border: 5px solid black;
    width: 600px;
    margin: 50px auto;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header header"
        "aside main"
        "nav main"
        "footer footer";
    fr = fractions(pecahannya)
    grid-template-columns: repeat(2, 1fr) repeat(7, 2.5fr);
} */


header {
    padding: 40px 0;
    background-color: blueviolet;
    grid-area: header;
    align-items: center;
    display: flex;
    justify-content: center;
}

aside {
    background-color: blue;
    padding: 60px 0;
    grid-area: aside;
    text-align: center;
}

nav {
    background-color: red;
    padding: 80px 0;
    grid-area: nav;
    text-align: center;
}

main {
    background-color: sandybrown;
    padding: 140px 0;
    grid-area: main;
    text-align: center;

}


footer {
    background-color: gray;
    padding: 30px 0;
    grid-area: footer;
    text-align: center;
}